@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4a90e2;
  --primary-hover: #9DC4F1;
  --primary-light: #4A90E2CC;
  --primary-very-light: #F0F8FF;
  --gray-custom: #e5e7eb;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --gray-custom: #374151;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans-jp), sans-serif;
}


@layer base {
  h1 {
    @apply text-xl sm:text-2xl font-bold;
  }

  h2 {
    @apply text-lg sm:text-xl font-semibold;
  }

  h3 {
    @apply text-base sm:text-lg font-semibold;
  }

  label {
    @apply text-lg sm:text-xl font-semibold;
  }

  input:not(#event-link),
  textarea,
  button.input-like {
    @apply px-3 py-2 w-full border rounded-md focus:outline-none 
      focus:ring-2 focus:ring-primary border-primary;
  }

  .custom-dropdown {
    @apply z-10 w-full mt-1 border rounded-md shadow-sm border-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.three-d {
  @apply bg-primary text-white text-lg sm:text-xl rounded-md px-4 py-4;
  border: none;
  box-shadow: 0 4px #3b7bcf;
  transition: all 0.1s ease;
}

.three-d:hover,
.three-d:focus { 
  box-shadow: 0 3px #3b7bcf; 
  transform: translateY(1px); 
}

.three-d:active {
  box-shadow: 0 1px #3b7bcf; 
  transform: translateY(3px); 
}

.light input,
.light textarea,
.light button.input-like,
.light .custom-dropdown,
.light #event-link-container,
.light button.send-code {
  background: var(--primary-very-light)
}

.dark input,
.dark textarea,
.dark button.input-like,
.dark .custom-dropdown,
.dark #event-link-container,
.dark button.send-code {
  background: var(--background);
}
