@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4a90e2;
  --primary-hover: #9DC4F1;
  --primary-light: #4A90E2CC;
  --primary-very-light: #F0F8FF;
  --custom-black: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans-jp), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button.three-d {
  background: var(--primary);
  border: none;
  box-shadow: 0 4px #3b7bcf;
  transition: all 0.1s ease;
}

button.three-d:hover,
button.three-d:focus { 
  box-shadow: 0 3px #3b7bcf; 
  transform: translateY(1px); 
}

button.three-d:active {
  box-shadow: 0 1px #3b7bcf; 
  transform: translateY(3px); 
}